.product-item{
    margin: 0 10px 30px;
    flex: 0 1 220px;

}
.imgbox{
    border-radius: 5px;
    width:100%;
    height:160px;
    overflow: hidden;
}
.item-image {
    width: 100%;

}
.item-name{
    cursor: pointer;
    font-weight: bold;
}
.item-price {
     color: red;
     margin-bottom: 3px;
     font-size: 15px;
     font-weight: 500;


}
.add-cart-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 8px;
    border: none;
    border-radius: 3px;
    background-color: brown;
    color:#fff;
    font-weight: 600;
    padding: 5px 10px;
    
}

